
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

/*--------------------*/
/* ********* */

:root {
  --fblue: rgba(0, 47, 108, 1);
  --rred: rgba(213, 43, 30, 1);
  --rblue: rgba(0, 57, 166, 1);
  --white: rgba(255, 255, 255, 1);
}

html {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  overflow-x: hidden;
  background-color: var(--white); 
  color: var(--fblue);
}

* {
  box-sizing: border-box; 
}

h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.7rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.9rem;
}
h6 {
  font-size: 0.7rem;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1400px;
  padding: 0;
  justify-content: center;
  align-items: center;
}

/* ********* */

/* links */
a,
a:visited {
  color: var(--fblue);
  position: relative;
  text-decoration: none;
}

.header>.container a,
.header>.container a:visited,
.footer a,
.footer a:visited {
  color: var(--white);
}

a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.5px;
  width: 0;
  height: 1.5px;
  background-color: var(--fblue);
  transition: width 0.2s;
}

.header>.container a::before,
.header>.container a:visited::before,
.footer a::before,
.footer a:visited::before {
  background-color: var(--white);
}

a:hover::before {
  transition: width 0.35s;
  width: 100%;
}

.menu a:hover {
  color: var(--rred);
}

.menu a::before {
  width: 0;
}
/* links */

/* ********* */

/* Header */

.header {
width:100%;
@media screen and (min-width: 992px) {
  position: fixed;
  left:0;
  top: 0;
  z-index: 2;
  background-color: var(--white);
  display: flex;
  justify-content: center;
}
}

.header>.container{
  display: flex;
  justify-content: center;
  height: 5rem;
  width: 100%;
  background: var(--fblue);
  max-width: 1400px;
  /* color: var(--white); */
  @media screen and (min-width: 600px) {
    justify-content: space-around;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  height: 5rem;
}
.img img {
  height:100%;
  padding: 0.6rem 0;
}

.logo__title {
  padding-left: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  @media screen and (min-width: 400px) {
    font-size: 1.3rem;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.logo__title p {
  @media screen and (min-width: 1280px) {
    padding: 0.5rem;
  }
}

.contacts {
  display: none;
  @media screen and (min-width: 700px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
}

.languages {
  @media screen and (min-width: 992px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:static;
  }
}

select {
  color: var(--white);
  background-color: var(--fblue);
  font-size: 1rem;
}

/* Header */

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 1400px) {
    flex-direction: row;
    position: static;
    max-width: 1400px;
  }
}



/* Menu */

.menu {
  @media screen and (min-width: 1400px){
    position:static;
    height: 100%;
    /* flex: 0 0 20rem; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; */
  } 
  }

  /* .content {
    flex: 0 0 auto;
  } */

.menu .container {
  @media screen and (min-width: 992px){
    width: 100%;
    height: 100%;
  }
}

.menu__input:checked ~ .menu__items {
  height: calc(100% - 3.52rem);
  bottom: 3.7rem;
  transition: all 0.5s ease-out;
}

.menu__input:checked ~ .menu__label .hamburger__button .menu__label-line {
  background: transparent;
}

.menu__input:checked
  ~ .menu__label
  .hamburger__button
  .menu__label-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.menu__input:checked ~ .menu__label .menu__label-line::after {
  transform: rotate(45deg);
  top: 0;
}

.menu__input:checked ~ .menu__label .menu__label-line::after,
.menu__input:checked ~ .menu__label .menu__label-line::before {
  background-color: var(--rred);
  height: 0.25rem;
}

.hamburger__button {
  align-items: center;
  justify-content: center;
  display: flex;
}

.menu__label-line {
  background: var(--white);
  display: block;
  height: 0.15rem;
  position: relative;
  transition: all 0.2s ease-out;
  width: 2rem;
  z-index: 2;
}

.menu__label-line::before,
.menu__label-line::after {
  background: var(--white);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.menu__label-line::before {
  top: 0.5rem;
}

.menu__label-line::after {
  top: -0.5rem;
}

.menu__items {
  width: 100%;
  height: 0%;
  position: fixed;
  left: 0;
  bottom: 3.7rem;
  background-color: var(--white);
  overflow-y: scroll;
  /* transition: all 0.3s ease; */
  z-index: 2;
  cursor: default;
  font-size: 0.9rem;
  line-height: 2rem;
  @media screen and (min-width: 400px) {
    line-height: 2.5rem;
    font-size: 1.2rem;
  }
  @media screen and (min-width: 1400px) {
    position: static;
    height: 100%;
  }
}

.menu__items ul {
  @media screen and (min-width: 992px){
    background-color: var(--fblue);
    list-style-type: none;
    position: fixed;
    top: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 2;
  }
  @media screen and (min-width: 1400px){
    position:static;
    background-color: var(--white);
    color: var(--fblue);
    flex-direction: column;
    width: 20rem;
    height: fit-content;
  }
}

.menu__items ul li {
  @media screen and (min-width: 992px){
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  color: var(--white);
  display: inline-block;
  position: relative;
  height: 2.5rem;
}
@media screen and (min-width: 1400px) {
  position: static;
  color: var(--fblue);
  height: fit-content;
}
}

.menu__items ul li:hover {
  @media screen and (min-width: 992px) {
    cursor: pointer;
    background-color: var(--white);
    color: var(--fblue);
  }
}

.menu__items ul li:hover ul {
  @media screen and (min-width: 992px) {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: fit-content;
    border: 1px solid;
    border-color: var(--fblue);
    border-top: none;
    top:7.4rem;
  }
  @media screen and (min-width: 1400px) {
    position:static;
    max-width: 20rem;
    height: fit-content;
    border: none;
  }
}

.menu__items ul li:hover ul li {
  @media screen and (min-width: 992px) {
    display: block;
    background-color: var(--white);
    color: var(--fblue);
    max-height: 3rem;
    font-size: 1.2rem;
  }
  @media screen and (min-width: 1400px)  {
    max-height: fit-content;
  }
}

.menu__items ul li:hover ul li a {
  @media screen and (min-width: 992px) {
    background-color: var(--white);
    color: var(--fblue);
  }
}

  .menu__items ul li:hover a {
  @media screen and (min-width: 992px) {
    background-color: var(--white);
    color: var(--fblue);
  }
  }

  .menu__items ul li:hover a:hover {
    @media screen and (min-width: 992px) {
      color: var(--rred);
    }
  }

.menu__items ul li a {
  @media screen and (min-width: 992px){
    display: inline-block;
    padding: 0.2rem 1rem;
    color: var(--white);
  }
  @media screen and (min-width: 1400px){
    color: var(--fblue);
  }
}

.menu__items ul li a:hover {
  @media screen and (min-width: 992px) {
    color: var(--rred);
  }
}

.menu__items ul li ul {
  @media screen and (min-width: 992px){
    display: none;
  }
}


.nav__item {
  text-align: justify;
  white-space: nowrap;
  padding-left: 7%;
  /* transition: all 0.4s linear; */
  @media screen and (min-width: 400px) {
    padding: 5% 0% 0% 10%;
  }
  @media screen and (min-width: 992px){
    text-align: initial;
    white-space: wrap;
    padding: 0;
  }
}

.nav__item a {
  display: inline-block;
  padding-right: 0.5rem;
  text-transform: uppercase;
  color: var(--fblue);
  @media screen and (min-width: 992px) {
    padding: 0;
  }
}

.nav__item label {
  cursor: pointer;
  display: inline-block;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  text-align: center;
  transition: all 0.4s ease-out;
  @media screen and (min-width: 992px) {
    width: 1rem;
    height: 1rem;
    transition: none;
  }
}

.nav__item label .label-symbol {
  display: inline-block;
  padding-right: 0.6rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5rem;
  transform: rotate(-90deg);
  transition: all 0.4s ease-out;
  @media screen and (min-width: 992px) {
    padding-right: 0rem;
    font-size: 1rem;
    line-height: 1rem;
  }
}

.nav__item label:hover .label-symbol {
  color: var(--rred);
  transform: rotate(-75deg);
}

.nav__item input:checked ~ label {
  transition: all 0.1s ease-out;
  transform: rotate(0deg);
}

.nav__item input:checked ~ label .label-symbol {
  transition: all 0.2s ease-out;
  transform: rotate(0deg);
  padding-right: 0rem;
}

.nav__item ul li {
  text-align: left;
  padding-left: 1.5rem;
  overflow: hidden;
  max-height: 0;
  transition: all 0.2s;
  width: 100%;
  white-space: nowrap;
  @media screen and (min-width: 992px) {
    padding: 0 1rem;
    overflow: initial;
    height: 100%;
    width: 100%;
    letter-spacing: normal;
  }
}


.nav__item ul li a {
  text-transform: initial;
}

.nav__item input:checked ~ ul li {
  max-height: 2.5rem;
  transition: all 0.4s linear;
  @media screen and (min-width: 400px) {
    max-height: 3rem;
  }
}

.home {
  @media screen and (min-width: 992px) {
    display: none;
    position: absolute;
    top: -9999px;
    left: -9999px;
    width: 0;
    height: 0;
  }
}

.home a svg {
  height: 1.5rem;
  padding-bottom: 0;
  margin-top: 1rem;
}

.home a svg:hover path {
  stroke: var(--rred);
}

.short {
  display: none;
  @media (min-width: 992px) {
    display: flex;
  }
}

.long {
  display: flex;
  @media (min-width: 992px) {
    display: none;
  }
}

input {
  display: none;
}


/* Menu  */

/* ********* */

/* ********* */

/* breadcrumbs */

.breadcrumbs {
  font-size: 0.9rem;
  padding: 1.5rem 0.3rem;
  @media (min-width: 992px) {
    margin: 8rem 1rem 0rem 1rem;
  }
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumb__item {
  padding-right: 0.4rem;
  white-space: nowrap;
  line-height: 1;
  
}

.breadcrumb__item::after {
  content: "\203A";
  font-size: large;
  padding-left: 0.2;
}

.breadcrumb__item:last-child:after {
  content: "";
}

.breadcrumb__item:last-child {
  pointer-events: none;
  cursor: default;
}

.breadcrumb__item:last-child a {
  pointer-events: none;
  cursor: default;
  color: var(--fblue);
  opacity: 0.6;
}

.breadcrumb-item > a,
.breadcrumb-item.active {
  user-select: none;
}
/* breadcrumb */

/* ********* */

/* ********* */

/* article */


/* .page-text { 
  padding: 0.4rem;
  @media screen and (min-width: 400px) {
    padding: 1.5rem;
  }

} */

.langlist {
  white-space: nowrap;
}

.text {
  text-align: justify;
}

.text .container p::first-letter {
  font-size: 120%;
  color: var(--rred);
  font-weight: 500;
}

.center {
  text-align: center;
}
/* main */

/* ********* */

/* ********* */

/* bottom */

.footer {
  background-color: var(--fblue);
  color: var(--white);
  height: 3.5rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  @media (min-width: 992px) {
    position: static;
    height: 0.5rem;
  }
}

.footer__item {
  position: fixed;
  cursor: pointer;
  height: 2.5rem;
  width: 3rem;
  border: 1.5px solid;
  border-radius: 0.5rem;
  border-color: var(--fblue);
  bottom: 0.5rem;
  z-index: 2;
  @media (min-width: 992px) {
    display: none;
  }
}

.footer__item:hover,
.footer__item:focus {
  border-color: var(--white);
  transition: all 0.1s ease 0s;
}

.mail__icon {
  display: flex;
  color: var(--white);
  z-index: 6;
}

.menu__label {
  position: fixed;
  right: 95%;
  bottom: 1rem;
  z-index: 2;
  @media (min-width: 500px) {
    right: 93%;
  }
}

.row .phone {
  left: 50%;
  @media (min-width: 500px) {
    left: 55%;
  }
}

.row .email {
  right: 55%;
  @media (min-width: 400px) {
    right: 60%;
  }
  @media (min-width: 500px) {
    right: 55%;
  }
}

.languages {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  justify-content: center;
  width: 5.2rem;
  height: 2.3rem;
  right: 3%;
  @media screen and (min-width: 400px) {
    right: 5%;
  }
  @media screen and (min-width: 500px) {
    right: 7%;
  }
  @media screen and (min-width: 992px) {
    position:static;
    align-self: center;
  }
}

.mail__icon {
  height: 2.2rem;
  width: 2.8rem;
  border-radius: 0.5rem;
}

.phone__icon {
  height: 2.2rem;
  border-radius: 0.5rem;
}

.row a::before {
  display: none;
}
/* bottom */
  
