/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

/*--------------------*/

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(17px + 2 * ((100vw - 320px) / (1280 - 320)));
  line-height: 1.2;
  color: rgba(0, 47, 108, 1);
  text-align: center;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0px auto;
}

.content {
  flex: 1 1 auto;
  padding: 0px 0px 4rem 0px;
}

/* Header */

.header {
  padding: 0.5rem 0rem;
}

.container {
  max-width: none;
  margin: 0px auto;
  padding: 0px 0.71rem;

  @media (min-width: 360px) {
    max-width: none;
    padding: 0px 1rem;
  }
  @media (min-width: 768px) {
    max-width: none;
  }

  @media (min-width: 992px) {
    max-width: none;
  }
  @media (min-width: 1280px) {
    max-width: 1200px;
  }
}

.block {
  padding: 0rem 0rem 3rem 0rem;
  @media (min-width: 360px) {
    padding: 0rem 0rem 3rem 0rem;
  }
}

.header__row {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  flex: 0 0 3.5rem;
  padding: 0px 0.3rem 0px 0.3rem;
  align-self: center;
}

.img {
  max-width: 100%;
}
.header__title {
  padding: 1.5%;
  flex: 1 1 30%;
  text-align: left;
  white-space: nowrap;
  @media (max-width: 319px) {
    white-space: normal;
  }
}

.header__main-title {
  font-weight: bold;
  font-size: calc(1rem + 10 * ((100vw - 320px) / (1280 - 320)));
  line-height: 1.5;
  @media (min-width: 1280px) {
    font-size: 1.5rem;
  }
}

.header__subtitle {
  font-style: italic;
  font-size: calc(0.8rem + 10 * ((100vw - 320px) / (1280 - 320)));
  text-indent: 2rem;
  @media (min-width: 1280px) {
    font-size: 1.4rem;
  }
}

.header__menu {
  border: solid 1px;
  flex: 1 1 30%;
  display: none;
}

/* main */

.main {
}

.article {
  padding: 0.5rem 0rem;
}

.article__subtitle {
  padding: 0rem 0rem 1rem 0rem;
  text-align: center;
  line-height: 1.4;
}
.article__text {
  text-align: justify;
  text-indent: 1.5rem;
}

.article__text p::first-letter {
  font-size: 120%;
  color: rgba(213, 43, 30, 1);
  font-weight: 500;
}

/* promo */

.promo {
  padding: 0rem 0rem 1rem 0rem;
}

.promo__text {
  line-height: 3rem;
}

.location__icon {
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
}

.location__link,
.location__text {
  display: inline-block;
  text-decoration: none;
  color: rgba(0, 47, 108, 1);
  font-weight: normal;
}

/* menu */

.menu__block {
  padding: 1rem 0px;
}

.menu ul {
  list-style: none;
}

li {
  color: rgba(0, 47, 108, 1);
  cursor: pointer;
  height: 2rem;
  width: max-content;
  font-weight: bold;
  font-size: large;
  letter-spacing: 0.25rem;
  text-align: center;
  margin: auto;
  text-transform: uppercase;

  transition-property: color, font-size, transform, text-decoration;
  transition-duration: 0.2s, 0.6s, 0.3s, 0.2s;
  transition-delay: 0s, 0s, 0s, 0s;
  transition-timing-function: ease, ease, ease, ease;

  @media (min-width: 360px) {
    height: 3rem;
  }
}

li:hover,
li:focus {
  text-decoration: underline;
  text-decoration-color: rgba(213, 43, 30, 1);
  font-size: 1.1rem;
}

li:active {
  transform: translate(0rem, 0.08rem);
  text-decoration: none;
  color: rgba(213, 43, 30, 1);
  transition-duration: 200ms;
}

.main-page {
  display: none;
}

/* footer */

.footer {
  flex: 0 0 auto;
  bottom: 0vh;
  width: 100%;
  background-color: white;
  position: fixed;
  border-top: 1px solid rgba(0, 47, 108, 0.6);
  max-width: 1200px;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0rem;
}

/* buttons */

button {
  border: none;
  font: inherit;
  color: white;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: fit-content;
  width: 100%;
}

.button {
  color: rgba(0, 47, 108, 1);
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: large;
  border: 1px solid rgba(0, 47, 108, 0.6);
  background-color: white;

  transition-property: background-color, border, transform, box-shadow;
  transition-duration: 0.2s, 0.1s, 0.2s, 0.2s;
  transition-delay: 0s, 0.1s, 0.1s, 0.1s;
  transition-timing-function: ease, ease, ease, ease;
}

.button:hover,
.button:focus {
  border: solid rgba(0, 47, 108, 1);
  box-shadow: 0.11rem 0.06rem 0.06rem rgba(213, 43, 30, 1);
  transform: translate(-0.06rem, -0.06rem);
  cursor: pointer;
}

.button:active {
  transform: translate(0.06rem, 0.06rem);
  border-color: rgba(213, 43, 30, 1);
  box-shadow: none;
  /* transition-duration: 0.2s; */
  transition: all 0.1s ease 0s;
}

.menu,
.button__language,
.language {
  border: hidden;
}

button {
  background-color: white;
}

.menu__icon {
  width: 2rem;
  height: 2rem;
}
