/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --white: #f9f9f9;
  --black: #36383f;
  --grey: #85888c;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

main {
  display: flex;
  flex: 1 1 auto;
}

/* Header */
.footer {
  position: fixed;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;

  background-color: lightblue;;
  /* position: sticky; */
  bottom: 0;
  width: 100%;
}
/* Logo */
.logo {
  display: inline-block;
  color: black;
  font-size: 60px;
  margin-left: 10px;
}

.footer__block {
  width: 200px;
  z-index: 2;
  background-color: greenyellow;
}

.row {
display: flex;
justify-content: space-around;

}

/* Nav menu */
.nav {
  width: 100%;
  height: 100%;
  padding: 50px 0px;
  position: fixed;
  bottom: -100%;
  left: 0;
  background-color: lightpink;
  overflow: hidden;
  
}

.menu a {
  display: block;
  padding: 30px;
  color: black;
}

.menu a:hover {
  background-color: var(--grey);
}

.nav {
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

/* Menu Icon */

.menu__label {
  display: flex;
  justify-content: flex-end;
  color: red;
  cursor: pointer;
  /* float: right; */
  padding: 40px 20px;
  z-index: 1;
}

.menu__label-line {
  background: var(--white);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
  z-index: 1;
}

.menu__label-line::before,
.menu__label-line::after {
  background: var(--white);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.menu__label-line::before {
  top: 5px;
}

.menu__label-line::after {
  top: -5px;
}

.menu__input,
.menu__input1 {
  display: none;
}

/* Toggle menu icon */

.menu__input:checked ~ nav {
  max-height: 100%;
  bottom: 0;
}

.menu__input:checked ~ .menu__label .menu__label-line,
.menu__input1:checked ~ .menu__label .menu__label-line {
  background: transparent;
}

.menu__input:checked ~ .menu__label .menu__label-line::before,
.menu__input1:checked ~ .menu__label .menu__label-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.menu__input:checked ~ .menu__label .menu__label-line::after {
  transform: rotate(45deg);
  top: 0;
}

/* Responsiveness */

@media (min-width: 768px) {
  .nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
  }

  .menu li {
    float: left;
  }

  .menu a:hover {
    background-color: transparent;
    color: var(--grey);
  }

  .menu__label {
    display: none;
  }
}

.hamburger {
  flex: 1;
}

.footer__block {
  flex: 3;
}

* test */

.nav__menu {
  width: calc(100%-3.7rem);
  height: 0%;
  position: fixed;
  left: 0;
  bottom: 3.7rem;
  background-color: white;
  overflow: scroll;
  transition: all 0.3s ease;
  color: var(--fblue);
  /* z-index: 9; */
}
  
.nav__item input{
  /* display:none; */
  }
.nav__item  label{
  display:block;
  padding:10px;
  background-color:#434343;
  font-size:20px;
  color:#fff;
  cursor:pointer;
  border-bottom:solid 2px #aaa;
  z-index: 9;

  
    display: block;
    height: 3rem;
    padding:0.2rem;
    color: var(--fblue);
    text-transform: uppercase;
  
  }

.nav__item label span{
  padding-left:240px;
  transform:rotateX(45deg);
  }
.nav__item label:hover{
  background-color:#f2673a;
  }

.nav__item ul{
  overflow:hidden;
  max-height:0;
  transition: all .4s;
  background-color:#fff;
  width:100%;		
  }
.nav__item ul li a{
  width:100%;
  height: 20px;
  background-color:#fafafa;
  display:block;
  text-decoration:none;
  color: #333;
  border-bottom: 2px solid #aaa;
  padding: 10px;
  }

.nav__item ul li a:hover{
  background-color:#9CF;
  }


.nav__item input:checked ~ ul{
  height:auto;
  max-height:500px;
  transition: all .4s linear;
  }
  
.nav__item input:checked ~ label span{
  
  }